<form id="new_site_form" method="post">
    {% csrf_token %}
    <small>
        Enter the site details below.
    </small>
    <div class="site_entry">
        {% for field in site_form %}
        <div class="site_label">
            <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
        </div>
        <div class="site_input">
            {{ field }}
        </div>
        {% if field.errors %}
        <div class="site_error">
            {{ field.errors }}
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="site_form_buttons">
        <input type="submit" value="Save" />
        <button type="button" value="Cancel" id="cancel_new_site_button">Cancel</button>
    </div>
</form>