<form id="new_site_form" method="post">
    {% csrf_token %}
    <table id="new_site_table">
        <tr>
            <th colspan="10">
                <h2>Add a New Site</h2>
            </th>
        </tr>
        <tr>
            {% for field in site_form %}
            <td>{{ field.label_tag }}</td>
            <td>{{ field }}</td>
            {% if field.errors %}
            <td>{{ field.errors }}</td>
            {% endif %}
            {% endfor %}
        </tr>
    </table>
    <input type="submit" value="Save" />
    <input type="button" value="Cancel" id="cancel_new_site_button" />
</form>