# Ignore the Settings Configuration File
myprojectmanager/settings.py

# Ignore .DS_Store files (Mac)
.DS_Store

# Ignore Virtual Environment 
venv/

# Ignore Python Cache Directories 
myprojectmanager/__pycache__/
myprojectmanager/**/__pycache__/
__pycache__/
/**/__pycache__/

# Ignore the Initialization Files 
myprojectmanager/__init__.py
__init__.py

# Ignore the Migrations Directories
migrations/

# Ignore the Common Utilities Directory
common/util/

# Ignore Static Admin Files 
static/admin/

# Ignore the Debug Log 
debug.log

# Ignore the .env File
.env

# Ignore celerybeat-schedule
celerybeat-schedule
 
# Ignore the some_temp_folder from celery
some_temp_folder/

# Ignore the scraper_constants.py file 
scraper_constants.py

# Ignore the .git folder
.git/

# Ignore the .vscode folder
.vscode/

gis/
vendor/select2/
i18n/
xregexp/
lib/


