@charset "utf-8";


.bid_item {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

.scrollable {
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
}