{% extends 'main/__base.html' %}
{% block subtitle %} | Equipment for {{ bid.bid_project.project_name }} {% endblock %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'bid/css/bid.css' %}">
{% endblock %}
{% block scripts %}
<script src="{% static 'bid/js/bid.js' %}"></script>
{% endblock %}
{% block content %}

<div class="bid_container">

    <div class="bid_page_header">
        <h2>Equipment</h2>
        <small>for {{ bid.bid_project.project_name }} ({{ bid.bid_project.project_number }}) </small>
    </div>

    <!-- Add a way for the user to navigate to different pages for the bid -->
    <div class="bid_nav">
        <a href="{% url 'bid:bid_details' bid.bid_id %}">Go to Labor / Travel</a>
        <a href="{% url 'bid:bid_details_material' bid.bid_id %}">Go to Material</a>
        <a href="{% url 'bid:bid_summary' bid.bid_id %}">Go to Summary</a>
    </div>

    <div class="bid_form_container">
        <form method="post">
            {% csrf_token %}

            <h3>Eqiuipment Rentals</h3>
            <div class="initial-bid_equipment-form bid_equipment-form" style="display:none;">
                {{ bid_equipment_formset.empty_form.as_table }}
            </div>

            <input type="hidden" name="bid_equipment-TOTAL_FORMS" id="bid_equipment-TOTAL_FORMS"
                value="{{ bid_equipment_formset.total_form_count }}" />
            <input type="hidden" name="bid_equipment-INITIAL_FORMS" id="bid_equipment-INITIAL_FORMS"
                value="{{ bid_equipment_formset.initial_form_count }}" />
            {% for equipment_form in bid_equipment_formset %}
            <div class="bid_equipment-form">
                {{ equipment_form.as_table }}
            </div>
            {% endfor %}

            <div class="bid_button_container">
                <button type="button" id="add_equipment">Add Equipment Entry</button>
                <button type="button" id="remove_equipment">Remove Last Equipment Entry</button>
            </div>

            <div class="bid_button_container">
                <input type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>

{% endblock %}