{% extends 'main/__base.html' %}
{% block subtitle %} | Material for {{ bid.bid_project.project_name }} {% endblock %}
{% load static %}
{% block styles %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link href="{% static 'bid/css/bid.css' %}" rel="stylesheet">
{% endblock %}
{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="{% static 'materials/js/materials.js' %}"></script>
{% endblock %}
{% block content %}

<h1>Material for {{ bid.bid_project.project_name }}</h1>
<p>
    Site Count : ({{ bid.bid_project.project_sites.count }})
</p>
{% for site in bid.bid_project.project_sites.all %}
<small>
    {{ site.site_id }} {{ site.site_name }}<br>
    {{ site.address }},
    {{ site.city }} {{ site.state }} {{ site.zip_code }}
    {% if site.phone %}
    <br>Phone: ({{ site.phone|slice:":3" }}) {{ site.phone|slice:"3:6" }}-{{ site.phone|slice:"6:10" }}
    {% endif %}
</small>
{% endfor %}

<form method="post">
    {% csrf_token %}

    <h2>Select Materials to Bid</h2>
    <form method="post" id="material_form">
        {% csrf_token %}

        <!-- Filter by Manufacturer -->
        <label for="manufacturer_select">Manufacturer : </label>
        <select id="manufacturer_select" name="manufacturer_select">
            <option value="All">All</option>
            {% for manufacturer in unique_manufacturers %}
            <option value="{{ manufacturer }}">{{ manufacturer }}</option>
            {% endfor %}
        </select>

        <!-- Search -->
        <label for="search_input">Search : </label>
        <input type="text" id="search_input" name="search" placeholder="Search Materials...">

        <div id="material_list" class="scrollable">
            {% for material in all_materials %}
            <div class="material_item" data-material-id="{{ material.material_id }}"
                data-material-manufacturer="{{ material.manufacturer }}">
                <label>
                    <input type="checkbox" class="material_checkbox" name="material_{{ material.material_id }}"
                        value="{{ material.material_id }}">
                    {{ material.description }} | MFR : {{ material.manufacturer }}
                </label>
            </div>
            {% endfor %}
        </div>



    </form>

    <input type="submit" value="Save Bid" />
</form>

{% endblock %}