{% extends 'main/__base.html' %}
{% block subtitle %} Bid Summary for {{ bid.bid_project.project_name }} {% endblock %}
{% load static %}
{% load humanize %}
{% block styles %}
<link rel="stylesheet" href="{% static 'bid/css/bid.css' %}">
{% endblock %}
{% block scripts %}
{% endblock %}
{% block content %}

<div class="bid_container bid_summary">

    <div class="bid_page_header">
        <h2>Summary</h2>
        <small>for {{ bid.bid_project.project_name }} ({{ bid.bid_project.project_number }}) </small>
    </div>

    <!-- Add a way for the user to navigate to different pages for the bid -->
    <div class="bid_nav">
        <a href="{% url 'bid:bid_details' bid.bid_id %}">Go to Labor / Travel</a>
        <a href="{% url 'bid:bid_details_material' bid.bid_id %}">Go to Materials</a>
        <a href="{% url 'bid:bid_details_equipment' bid.bid_id %}">Go to Equipment</a>
    </div>


    <div class="bid_totals">
        <p><strong>Total Labor</strong> : $ {{ labor_totals|floatformat:2|intcomma }}</p>
        <p><strong>Total Travel (Hours)</strong> : $ {{ travel_totals|floatformat:2|intcomma }}</p>
        <p><strong>Total Travel (Expenses)</strong> : $ {{ expense_totals|floatformat:2|intcomma }}</p>
        <p><strong>Total Materials</strong> : $ {{ material_totals|floatformat:2|intcomma }}</p>
        <p><strong>Total Equipment</strong> : $ {{ equipment_totals|floatformat:2|intcomma }}</p>
    </div>
    <div class="grand_total">
        <p>
            <strong>Grand Total</strong> : $
            {{ labor_totals|add:travel_totals|add:expense_totals|add:material_totals|add:equipment_totals|floatformat:2|intcomma }}
        </p>
    </div>

    <div class="sites">
        <h3>Sites</h3>
        {% for site in bid.bid_project.project_sites.all %}
        <p class="site_details">
            {{ site.site_id }} {{ site.site_name }} <br>
            {{ site.address }}, {{ site.city }}, {{ site.state }} {{ site.zip_code }}<br>
            {% if site.phone %}
            ({{ site.phone|slice:":3" }}) {{ site.phone|slice:"3:6" }}-{{ site.phone|slice:"6:10" }}<br>
            {% endif %}
        </p>
        {% endfor %}
    </div>

    <div class="labor">
        <h3>Labor</h3>
        {% for labor in bid_labor_hours %}
        <p>
            ({{ labor.labor_hours|floatformat:0 }}) Hours of {{ labor.labor_type }} at ${{ labor.labor_rate }} for
            ({{ labor.labor_hours_quantity|floatformat:0}}) Day(s)
        </p>
        {% endfor %}
    </div>

    <div class="travel">
        <h3>Travel</h3>
        <div class="subtravel">
            <h4>Travel Hours</h4>
            {% for travel in bid_travel_hours %}
            <p>
                ({{ travel.travel_hours|floatformat:0 }}) Hours of Travel from {{ travel.travel_type }} at
                $ {{ travel.travel_rate }} for ({{ travel.travel_hours_quantity|floatformat:0}}) Day(s)
                {% endfor %}
        </div>
        <div class="subtravel">
            <h4>Travel Expenses</h4>
            {% for travel in bid_travel_expenses %}
            <p>
                ({{ travel.expense_quantity|floatformat:0 }}) Qty. {{ travel.expense_type }} at $
                {{ travel.expense_amount }}
            </p>
            {% endfor %}
        </div>
    </div>

    <div class="material">
        <h3>Materials</h3>
        {% for material in bid_materials %}
        <p>
            ({{ material.quantity|floatformat:0 }}) {{ material.material.description }} at $ {{ material.unit_price }}
        </p>
        {% endfor %}
    </div>
    <div class="equipment">
        <h3>Equipment</h3>
        {% for equipment in bid_equipment %}
        <p>
            ({{ equipment.quantity|floatformat:0 }}) {{ equipment.equipment.description }} at $
            {{ equipment.unit_price }}<br>
            <small
                style="margin-left: 10px; color: #666; font-size: 0.8rem; font-weight: bold; background-color: #feffca;">
                From {{ equipment.start_date|date:"m/d/Y" }} at {{ equipment.start_time }} to
                {{ equipment.end_date|date:"m/d/Y" }} at {{ equipment.end_time }}
            </small>
        </p>
        {% endfor %}
    </div>


</div>







{% endblock %}