{% extends 'main/__base.html' %}
{% block subtitle %} | {{ bid.bid_project.project_name }} {% endblock %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'bid/css/bid.css' %}">
{% endblock %}
{% block scripts %}
<script src="{% static 'bid/js/bid.js' %}"></script>
{% endblock %}
{% block content %}

<div class="bid_container">

    <div class="bid_page_header">
        <h2>Labor and Travel</h2>
        <small>for {{ bid.bid_project.project_name }} ({{ bid.bid_project.project_number }}) </small>
    </div>

    <div class="bid_nav">
        <a href="{% url 'bid:bid_details_material' bid.bid_id %}">Go to Materials</a>
        <a href="{% url 'bid:bid_details_equipment' bid.bid_id %}">Go to Equipment</a>
        <a href="{% url 'bid:bid_summary' bid.bid_id %}">Go to Summary</a>
    </div>

    <div class="bid_form_container">
        <form method="post" id="bid_labor_and_travel_form">
            {% csrf_token %}
            <div id="bid_form_on_details_page">
                {{ bid_form.as_table }}
            </div>

            <h3>Labor Hours</h3>
            <div class="initial-labor_hours-form labor_hours-form" style="display:none;">
                {{ labor_hours_formset.empty_form.as_table }}
            </div>

            <!-- Hidden inputs to capture the total number of forms in the formset -->
            <input type="hidden" name="labor_hours-TOTAL_FORMS" id="labor_hours-TOTAL_FORMS"
                value="{{ labor_hours_formset.total_form_count }}" />
            <input type="hidden" name="labor_hours-INITIAL_FORMS" id="labor_hours-INITIAL_FORMS"
                value="{{ labor_hours_formset.initial_form_count }}" />

            <!-- Loop through the formset to display each form -->
            {% for labor_form in labor_hours_formset %}
            <div class="labor_hours-form">
                {{ labor_form.as_table }}
            </div>
            {% endfor %}

            <div class="bid_button_container">
                <!-- Buttons to add and remove additional forms from the formset -->
                <button type="button" id="add_labor_hours">Add Labor</button>
                <button type="button" id="remove_labor_hours">Remove Labor</button>
            </div>

            <h3>Travel Hours</h3>
            <div class="initial-travel_hours-form travel_hours-form" style="display:none;">
                {{ travel_hours_formset.empty_form.as_table }}
            </div>
            <input type="hidden" name="travel_hours-TOTAL_FORMS" id="travel_hours-TOTAL_FORMS"
                value="{{ travel_hours_formset.total_form_count }}" />
            <input type="hidden" name="travel_hours-INITIAL_FORMS" id="travel_hours-INITIAL_FORMS"
                value="{{ travel_hours_formset.initial_form_count }}" />

            {% for travel_form in travel_hours_formset %}
            <div class="travel_hours-form">
                {{ travel_form.as_table }}
            </div>
            {% endfor %}

            <div class="bid_button_container">
                <button type="button" id="add_travel_hours">Add Travel</button>
                <button type="button" id="remove_travel_hours">Remove Travel</button>
            </div>

            <h3>Travel Expenses</h3>
            <div class="initial-travel_expense-form travel_expense-form" style="display:none;">
                {{ travel_expense_formset.empty_form.as_table }}
            </div>
            <input type="hidden" name="travel_expense-TOTAL_FORMS" id="travel_expense-TOTAL_FORMS"
                value="{{ travel_expense_formset.total_form_count }}" />
            <input type="hidden" name="travel_expense-INITIAL_FORMS" id="travel_expense-INITIAL_FORMS"
                value="{{ travel_expense_formset.initial_form_count }}" />

            {% for travel_expense_form in travel_expense_formset %}
            <div class="travel_expense-form">
                {{ travel_expense_form.as_table }}
            </div>
            {% endfor %}

            <div class="bid_button_container">
                <button type="button" id="add_travel_expense">Add Expense</button>
                <button type="button" id="remove_travel_expense">Remove Expense</button>
            </div>

            <div class="bid_button_container">
                <input type="submit" value="Save" />
            </div>

        </form>
    </div>

</div>

</form>

{% endblock %}