{% extends 'main/__base.html' %}
{% block subtitle %} Bid Summary for {{ bid.bid_project.project_name }} {% endblock %}
{% load static %}
{% block styles %}
{% endblock %}
{% block scripts %}
{% endblock %}
{% block content %}

Summary for {{ bid.bid_project.project_name }} ({{ bid.bid_project.project_number }}) - {{ bid.bid_type }} Bid<br><br>

Site(s) : ({{ bid.bid_project.project_sites.count }})<br>
Location(s) : {% for site in bid.bid_project.project_sites.all %} #{{ site.site_id }} {{ site.site_name }}
{% if not forloop.last %},
{% endif %}{% endfor %}<br>





{% endblock %}