<form id="customer_contact_form" method="post">
    {% csrf_token %}
    <small>
        Enter the customer contact details below.
    </small>
    <div class="customer_contact_entry">

        {% for field in form %}
        <div class="customer_contact_label">
            <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
        </div>
        <div class="customer_contact_input">
            {{ field }}
        </div>
        {% if field.errors %}
        <div class="customer_contact_error">
            {{ field.errors }}
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="customer_form_buttons">
        <input type="submit" value="Save" />
        <button type="button" value="Cancel" id="cancel_customer_contact_button">Cancel</button>
    </div>
</form>