{% extends 'main/__base.html' %}
{% block subtitle %} | Dashboard {% endblock %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'main/css/dashboard.css' %}">
{% endblock %}
{% block scripts %}
<script src="{% static 'main/js/dashboard.js' %}"></script>
{% endblock %}
{% block content %}

<div class="open_work_orders">
    {% include 'main/open_work_orders.html' %}
</div>

<div class="recently_closed_work_orders">
    {% include 'main/recently_closed_work_orders.html' %}
</div>


{% endblock %}