<div class="overview_container">
    <div class="overview">
        <div class="overview_item">
            <div class="overview_item_title">Recently Cancelled Work Orders</div>
            {% if recently_cancelled_work_orders %}
            <div class="overview_item_value overview_header">
                <p>Work Order</p>
                <p>Project</p>
                <p>Site</p>
                <p>Status</p>
                <p>Last Updated</p>
            </div>
            {% for work_order in recently_cancelled_work_orders %}
            <div class="overview_item_value">
                <p>
                    <a href="{% url 'work_orders:work_order_details' work_order.pk %}">
                        {{ work_order.work_order_number }}
                    </a>
                </p>
                <p>
                    {{ work_order.work_order_project.project_number}}
                    {{ work_order.work_order_project.project_name }}
                </p>
                <p>
                    {{ work_order.work_order_site }}
                </p>
                <p>
                    {{ work_order.work_order_status }}
                </p>
                <p>
                    {{ work_order.last_updated_on }}
                </p>
            </div>
            {% endfor %}
            {% else %}
            <div class="overview_item_value">
                <p>No recently cancelled work orders</p>
            </div>
            {% endif %}
        </div>
    </div>
</div>